.navbar {  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;}

.logo img{
 
  height: 50px; width: 50px; border-radius: 50%;
}

.nav-links {
  color: white;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
}

.nav-links a.active {
  font-weight: bold;
  border-bottom: 2px solid currentColor;
}

@media (max-width: 768px) {
  .navbar{
    width: 100%;
    background-color: rgba(76, 76, 76, 0.604);
  }
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 260px;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: right 0.3s ease;
    z-index: 200;
  }

  .nav-links.open {
    right: 0;
  }
}
.overlay {
  position: fixed;
  inset: 1;
  background: rgba(0, 0, 0, 0.6);
  z-index: -150;
}
