.background{
    background-image: url("../assets/peace.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    max-width: 1200px;
  width: 100%;
  height: 500px;
  margin: 0 auto;
      align-items: center;
    justify-content: center;
         animation: bee 5s linear ;  
animation-timeline: view(); animation-range: entry 0% cover 60vh;

}
@keyframes bee {
    from{opacity: 0; transform: translateY(100px);}
    to{opacity: 1; transform:translateY(0px);} 
}

.layer{text-align: center;
        background-color: rgba(15, 15, 18, 0.446);
    max-width: 1200px;
    padding-top: 20px;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.layer>h1{
  margin-bottom: -10px;
    color: white;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-transform: capitalize;
}

.t-card {
margin-top: 50px;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px #0000001a;
  color: white;
  text-align: center;

}
.t-card h5{
  text-decoration: underline rgb(200, 80, 192);
  font-size: 16px; text-align: left;
}

.t-card p {
  padding-top: 20px;
  text-align: end;
  font-size: 13px;
  color: white;
  text-decoration: none;
}

.t-slider {
  max-width: 1200px; 
  margin: 0 auto;   
  width: 90%;
  height: 400px;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}
.t-slider .t-list {

  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.t-slider .t-list .t-item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: aut 150s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (150s / var(--quantity)) * (var(--position) - 1) - 150s
  ) !important;
}
.t-slider .t-list .t-item img {
  width: 100%;
}
@keyframes aut {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.t-slider:hover .t-item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.t-slider .t-item:hover {
  filter: grayscale(0);
}
.t-slider[reverse="true"] .item {
  animation: rever 10s linear infinite;
}
@keyframes rever {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}
